@model Repositories.Models.tblAdmin

@{
    ViewData["Title"] = "Insert Trip";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="InsertTrip">
    <div class="form-group">
    <label asp-for="c_trip">Trip</label>
    <select asp-for="c_trip" class="form-control">
        <option value="Surat-To-Mumbai">Surat-To-Mumbai</option>
        <option value="Mumbai-To-Surat">Mumbai-To-Surat</option>
        <option value="Surat-To-Diu">Surat-To-Diu</option>
        <option value="Diu-To-Surat">Diu-To-Surat</option>
        <option value="Diu-To-Vadodara">Diu-To-Vadodara</option>
    </select>
    <span asp-validation-for="c_trip" class="text-danger"></span>
</div>

    <div class="form-group">
        <label asp-for="c_price"></label>
        <input asp-for="c_price" class="form-control"/>
        <span asp-validation-for="c_price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="c_ticketstock"></label>
        <input asp-for="c_ticketstock" class="form-control" />
        <span asp-validation-for="c_ticketstock" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label asp-for="c_currentstock"></label>
        <input asp-for="c_currentstock" class="form-control" />
        <span asp-validation-for="c_currentstock" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Insert Trip</button>
</form>
